h1{
  font-size: 25px !important;
  color: #000;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0 !important;
  padding-top: 20px;
}
table{
  width: 75% !important;
  margin: auto;
}
thead{
  background: #FFF !important;
}
th{
  padding: 15px;
  text-align: center !important;
  font-weight: 500;
  font-size: 18px;
  color: #000;
  border: none !important;
  background-color: rgba(255,255,255,0.3) !important;
}
td{
  padding: 18px;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
.error {
  color: red;
  text-align: center;
}
section {
  margin: 0px 50px;
  overflow-x: hidden;
  overflow-y: hidden;
}
button{
  outline: none !important;
}
.panel.attendanceFilter{
  border: none; border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px !important; 
}
.panel.attendanceFilter > .panel-heading{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #337ab7 !important;
  padding: 10px 15px; font-size: 17px;
}
.panel.attendanceFilter > .panel-body{
  background-color: #FFF !important;
}
label.filter{
  font-size: 16px;
}
select.filter{
  font-size: 15px !important;
}
input.exportFilter{
  width: 100% !important; 
  padding: 8px 35px 8px 35px !important;
  top: 2px;
}
.panel.attendanceFilter .time label.timeFilter {
  background-color: #337ab7;
  color: #FFF !important;
  border: none !important;
}
.panel.attendanceFilter .time input:checked + label.timeFilter{
  background-color: #5cb85c !important;
}

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
.form-style-5{
  display: block;
  margin: auto; 
  max-width: 350px;
  margin-top: 1.5em;
}
.modal-content input[type="submit"],
.form-style-5 button {
  position: relative;
  display: block; margin: auto;
  padding: 10px 35px 10px 35px;
  color: #FFF;
  background: #0067b1;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: auto;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 30px;
}
.modal-content input[type="submit"]:hover,
.form-style-5 button:hover,
.form-style-5 button:active,
.form-style-5 button:focus {
  background: #005898;
  cursor: pointer;
}
table{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
}
.panel {
  border-color: #388994 !important;
}
.panel-heading {
  background-color: #388994 !important;
}
.panel-body {
  background-color: #46abb9 !important;
}

.slideInRight {
  animation-name: slideInRight;
} 
.slideInDown {
  animation-name: slideInDown;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.time {
  display: block;
  position: absolute;
  right: 10%;
  margin-top: -25px;
}
.time input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.time label {
  background-color: #46abb9;
  color: #000;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 6px 12px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.time label:hover {
  cursor: pointer;
}

.time input:checked + label {
  background-color: #5cb85c;
  color: #fff;
  box-shadow: none;
}

/*.time label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.time label:last-of-type {
  border-radius: 0 4px 4px 0;
}*/

@media screen and (max-width: 600px) {
  section {
    margin: 0px 4px;
  }
  h1 {
    font-size: 19px !important;
  }
  th {
    font-size: 11px;
    padding: 5px 2px;
  }
  .form-style-5 button {
    padding: 5px;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .modal-dialog {
      margin: 0 auto !important;
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}